# Requirements for Credit Path-AI

fastapi
uvicorn[standard]
pydantic[email]
passlib[bcrypt]

# New libraries for database and login
SQLAlchemy
psycopg2-binary
python-jose[cryptography]

# New library for form data (login)
python-multipart
